@tailwind base;
@tailwind components;
@tailwind utilities;

* { font-family: 'Inter', sans-serif; }
html { scroll-behavior: smooth; }

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes progress-shrink {
  from { width: 100%; }
  to { width: 0%; }
}

.animate-progress-shrink {
  animation: progress-shrink 4s linear forwards;
}
